<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HopeMade</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/logo.jpeg" rel="icon">
  <link href="../assets/img/logo.jpeg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  *  Template Name: My portfolio
  *  Updated: Jun 18 2023 with HopeMade
  * Author: Espoir kakesa
  ======================================================== -->
</head>

<body>
    <!-- ======= About Me ======= -->
   <div class="about-me container">

    <div class="section-title" style="padding: 40px 40px 30px 40px;">
      <h2>Installation Antenne </h2>
      <p>description </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="../assets/img/antenne/plan.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Les antennes collectives/individuelles</h3>
        <p class="fst-italic">
          Petite description pour le travail !
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <span>Réception satellite et terrestre pour les Résidences, Hotel,Villa</span></li>
              <li><i class="bi bi-chevron-right"></i>  <span>Création des réseaux de distribution</span></li>
              <li><i class="bi bi-chevron-right"></i><span> Raccordement des logements
                et extensions individuelles</span></li>
              <li><i class="bi bi-chevron-right"></i> <span>Distribution AUDIO VIDÉO multi-écrans</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i><span>qsdfgjhkl</span></li>
              <li><i class="bi bi-chevron-right"></i>  <span>ddfgjhkl</span></li>
              <li><i class="bi bi-chevron-right"></i> <span>dfxgchbjknl</span></li>
              <li><i class="bi bi-chevron-right"></i> <span>Available</span></li>
            </ul>
          </div>
        </div>
        
      </div>

    </div>
   

     <p style="padding: 40px 40px 30px 40px;">  Installation de télévision,  Poseur antenne tv, Réglage antenne tnt, Réparation de parabole, Dépannage d'antenne, Norme ANFR, Livraison à domicile, Antenne parabolique, Télécommande télévision, Mât d'antenne, Parabole, Antenne d'intérieur, Pointeur satellite, Antenne pour hôtel, Antenne TNT, Antenne râteau, Pied de terrasse, Collectivités, Télécommande universelle, Antenne portable, Décodeur tnt, Parabole collective, Antenne de télévision, Antenne tv tnt, Antenne collective, Antenne satellite, Câble d'antenne tv, Antenne individuelle, Syndics de copropriété, Antenne mobile, Câble d'antenne, Parabole plate, Amplificateur d'antenne, Antenne numérique, Adaptateur tnt, Récepteur TNT, Moteur de parabole, Répartiteur antenne, Professionnels, Antenne fm, Récepteur satellite, Antenne hertzienne, Télédistribution, Antenniste parabole, Décodeur, Antenne d'extérieur, Antenne terrestre, Mesureur de champ, Télécommande d'antenne</p>
      <h3 style="padding: 40px 40px 30px 40px;">Quelles sont les avantages de prévoire des Installation collectives dans votre Appartement,Hotel,Villa?</h3>
        
      <div class="row" >
          <div class="col-md-4" style="background-color: rgba(169, 169, 169, 0.356); padding: 40px;">
              <li>Coûts partagés : Lorsque les installations telles que le chauffage, la climatisation, l'eau chaude, l'électricité ou d'autres services sont installés collectivement, les coûts sont partagés entre tous les occupants de l'immeuble. Cela peut permettre de réduire les dépenses individuelles et rendre les services plus abordables pour chacun.</li>
          </div>
          <div class="col-md-4" style="background-color: rgba(169, 169, 169, 0.123); padding: 40px;">
              <li>Maintenance centralisée : Avec une installation collective, la responsabilité de la maintenance et des réparations incombe généralement à l'association des copropriétaires, au syndicat de copropriété ou à un gestionnaire immobilier. Cela signifie que les problèmes techniques peuvent être gérés de manière centralisée, ce qui facilite la coordination des travaux de maintenance et garantit une réponse plus rapide aux problèmes.</li>
          </div>
          <div class="col-md-4" style="background-color: rgba(169, 169, 169, 0.37); padding: 40px;">
              <li>Gestion professionnelle : Dans le cadre d'une installation collective, il est courant de faire appel à des professionnels qualifiés pour gérer et entretenir les installations. Cela peut inclure des techniciens spécialisés, des entreprises de maintenance ou des experts qui ont l'expertise nécessaire pour s'occuper des équipements. Cela permet d'assurer une gestion professionnelle et de garantir que les installations sont bien entretenues.</li>
          </div>
      </div>
  </div><!-- End About Me -->
 
<!-- ======= Testimonials ======= -->
<div class="testimonials container">

    <div class="about-me container">

        <div class="section-title" style="padding: 40px 40px 30px 40px;">
          <h2>Services </h2>
          <p>Nos services </p>
        </div>
    
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="../assets/img/antenne/installation.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Installation antenne par satellite !</h3>
            <p class="fst-italic">
                Nos services de Vente !
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <span>Réglage de parabole</span></li>
                  <li><i class="bi bi-chevron-right"></i>  <span>Installation satellite</span></li>
                  <li><i class="bi bi-chevron-right"></i><span> Pose antenne TNT</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>Télécommande universelle</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i><span>Antenne parabolique</span></li>
                  <li><i class="bi bi-chevron-right"></i>  <span>Antenne râteau</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>Décodeur tnt</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>Amplificateur d'antenne</span></li>
                </ul>
              </div>
            </div>
            
          </div>
    
        </div>
       
          <h3 style="padding: 40px 40px 30px 40px;">C'est simple pour nous contacter</h3>
            
          <div class="row" >
              <div class="col-md-4" style="background-color: rgba(169, 169, 169, 0.356); padding: 40px;">
                  <li>Votre entreprise d’installation de pose et de dépannage d’antenne intervient pour l’installation et le dépannage d’antennes individuelles et collectives pour immeubles et hôtels. Dans ce dernier cas, l’installation, la pose, le dépannage et la réparation des circuits de distribution sont assurés par APN Numérique.</li>
              </div>
              <div class="col-md-4" style="background-color: rgba(169, 169, 169, 0.123); padding: 40px;">
                  <li>Pourquoi ne pas faire appel à un installeur réparateur dépanneur antenne TV sur Charly-sur-Marne pour l’installation de l’antenne tv que vous venez ‘acquérir chez nous ?</li>
              </div>
              <div class="col-md-4" style="background-color: rgba(169, 169, 169, 0.37); padding: 100px;">
                  <li>N'hésitez pas à nous contacter, vous pourrez alors apprécier le savoir-faire de nos techniciens.</li>
              </div>
          </div>

          <!-- deuxieme service -->
          <div class="row" style="padding: 50px 40px 30px 40px;">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="../assets/img/antenne/depanage.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Dépannage d'antenne !</h3>
              <p class="fst-italic">
                  Nos services de Vente !
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <span>Réglage de parabole</span></li>
                    <li><i class="bi bi-chevron-right"></i>  <span>Installation satellite</span></li>
                    <li><i class="bi bi-chevron-right"></i><span> Pose antenne TNT</span></li>
                    <li><i class="bi bi-chevron-right"></i> <span>Télécommande universelle</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i><span>Antenne parabolique</span></li>
                    <li><i class="bi bi-chevron-right"></i>  <span>Antenne râteau</span></li>
                    <li><i class="bi bi-chevron-right"></i> <span>Décodeur tnt</span></li>
                    <li><i class="bi bi-chevron-right"></i> <span>Amplificateur d'antenne</span></li>
                  </ul>
                </div>
              </div>
              
            </div>
      
          </div>
         
            <h3 style="padding: 40px 40px 30px 40px;">C'est simple pour nous contacter</h3>
              
            <div class="row" >
                <div class="col-md-6" style="background-color: rgba(169, 169, 169, 0.356); padding: 40px;">
                   Une perte de signal de votre récepteur satellite ou de votre antenne TNT peut empêcher l'accès aux chaines de télévision. Votre antenniste intervient dans le dépannage et la réparation d'antenne et de récepteur satellite dans les meilleurs délais. Contactez-nous pour un dépannage rapide.
                </div>
                <div class="col-md-6" style="background-color: rgba(169, 169, 169, 0.123); padding: 40px;">
                   Pour établir un devis, nos opérateurs vous interrogeront sur différents points. Il sera en effet question pour eux de pouvoir qualifier votre demande, pour pouvoir la tarifer correctement et vous remettre ainsi un devis gratuit et personnalisé, sans aucun engagement requis de votre part.
                </div>
            </div><br><br>


            <div class="section-title" style="padding: 40px 40px 30px 40px;">
              <h2>Quelques réalisation </h2>
              <p>Réalisation </p>
            </div>
        
            <div class="container ">
              <div class="card " style="background-color: rgba(169, 169, 169, 0.356); padding: 20px;">
                <div class="card-body" >
                  <div class="row mt-6">
                    <div class="col-md-4 border-right">
                      <img src="../assets/img/ir-hope.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                      <p style="color: white;">Installation des antennes dans les villas. Cette installation est prèt a fournir le signal dans 4 villas. donc chaque antenne devra fournir le signal dans plus ou moins 4 Appartement qui contient au total 12 salons. <br> Cette méthode va permettre que les gens qui vont entrée dans l'Appartement, ne puisse plus poser l'antenne au mur pour salir la beauté de l'Appartement.</p>
                    </div>
                    
                  </div>
                  <div class="col-md-12 mt-3">
                    <p style="color: white;">Chaque villa a son antenne le propriètaire a besoin que tous le monde qui vont entrée, n'utilise que le signal trouvé à l'interieur de l'Appartement en faisnat lui-meme le choix de Canal+ qui est le plus utiliser dans la région.</p>
                    <p style="color: white;">La section suivante montrera quelques images de la réalisation </p>
                  </div>
                </div>
              </div>
            </div><br> <br>

            <div class="container">
              <div class="row">
                <div class="mb-3 col-md-3">
                  <div class="card">
                    <img src="../assets/img/villa.jpeg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <p style="color: white;">Laa photo du villa</p>
                  </div>
                </div>

                <div class="mb-3 col-md-3">
                  <div class="card">
                    <img src="../assets/img/connexion.jpeg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <p style="color: white;">Entrain de connecter l'antenne au salon</p>
                  </div>
                </div>

                <div class="mb-3 col-md-3">
                  <div class="card">
                    <img src="../assets/img/ir.jpeg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <p style="color: white;">Du coté antenne</p>
                  </div>
                </div>

                <div class="mb-3 col-md-3">
                  <div class="card">
                    <img src="../assets/img/conn.jpeg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <p style="color: white;">Entrain de connecter l'antenne au salon</p>
                  </div>
                </div>
              </div>
            </div>

      </div><!-- End About Me -->

  </div><!-- End Testimonials  -->
  <div class="credits">
    Designed by <a href="#">HopeMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>